@import "root";
@import "variables";
@import "mediaqueries";

@import "pages/index";
@import "pages/menu";
@import "pages/promos";
@import "pages/locales";
@import "pages/franquicias";


/* Media Queries */
@media (max-width: 991px) {
  nav ul {
    text-align: center;
  }
  nav ul li:hover {
    transform: scale(1);
  }

  #locales main {
    flex-wrap: wrap;
  }
}

/* Keyframes */

@keyframes agitar {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
