@import "variables";

/* Media Queries*/

@media (max-width: 575px) {
  #jumbotron {
    flex-direction: column-reverse;
    align-items: center;
    .main-text {
      width: 350px !important;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      h1 {
        font-size: 2.5rem !important;
      }
      h3 {
        line-height: 1.8rem;
      }
    }
  }
  #infoAdicional {
    flex-direction: column !important;
    align-items: center !important;
    height: 700px !important;
    padding: 30px 0;
    row-gap: 20px;
    .info-franquicia,
    .info-promos {
      width: 350px !important;
      margin: 0;
      padding: 0 20px 20px !important;
    }
  }

  /* Promos */

  #promos .container {
    flex-direction: column-reverse;
    justify-content: space-evenly !important;
    .img-promos {
      width: 70% !important;
    }
    .btn-accion {
      margin: 0 auto;
      display: table;
    }
  }
}

@media (max-width: 768px) {
  body {
    font-size: 12px;
  }
  p,
  a {
    font-size: 1rem;
  }
  #jumbotron {
    padding: 50px 200px !important;
  }
  .main-text {
    width: 250px !important;
    height: 300px;
    padding: 10px;
    h1 {
      font-size: 1.8rem !important;
    }
    h3 {
      font-size: 1.2rem;
    }
  }
  .main-image img {
    width: 300px;
  }

  /* Menu */

  #menuLocoburger .menu-container {
    padding: 20px 10px !important;
    grid-template-columns: 1fr !important;
    grid-template-rows: repeat(6, 350px) !important;
    grid-template-areas:
      "burger"
      "cerveza"
      "veggie"
      "papas"
      "hotdog"
      "ultra" !important;
    .menu-veggie {
      background-position: center !important;
    }
  }

  /* Promos */

  #promos .img-promos {
    width: 100% !important;
  }

  #boxPromos {
    .card {
      max-height: 500px;
      max-width: 350px;
      margin: 0 auto;
    }
  }
}
@media (max-width: 991px) {
  nav ul {
    text-align: center;
  }
  nav ul li:hover {
    transform: scale(1);
  }

  #locales main {
    flex-wrap: wrap;
  }
}
