*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
body{
  font-family: "Rubik", sans-serif;
  font-size: 20px;
}

/* Header */
header{
  background-color: #fff;
  height: 100px;
  position: relative;
  padding: 0 100px;
}
.img-logo{
  padding: 5px 0;
  height: 90px;
  float: left;
}
nav{
  display: inline;
  position: absolute;
  right: 100px;
  bottom: 15px;
}
nav ul{
  padding: 0px;
  margin: 0px;
}
nav ul li{
  display: inline-block;
  margin: 0 10px;
}
nav a{
  color: #e8b746;
  font-size: 0.8em;
  transition: 0.5s;
}
nav a:hover{
  font-weight: bold;
  font-size: 0.9em;
}

/* Jumbotron */

#jumbotron{
  background-color: #e8b746;
}
main{
  display: inline-flex;
  width: 100%;
  justify-content: space-around;
}
.main-text{
  width: 400px;
  align-self: center;
  border: 3px solid #49a12b;
  border-radius: 7px;
  padding: 30px;
  text-align: center;
}
.loco{
  color: #49a12b;
}

.main-text h1{
  font-family: "Lato", sans-serif;
  font-size: 2.5em;
}
.btn-accion{
  background-color: #49a12b;
	border-radius: 50px;
	display: inline-block;
	cursor: pointer;
	color: #fff;
  text-transform: uppercase;
	font-size: 0.7em;
	padding: 8px 31px;
	text-decoration: none;
  margin-top: 20px;
  box-shadow: 0 3px 0 #347a1c;
  transition: 0.3s;
}
.btn-accion:hover{
  background-color: #4bac2b;
}
.btn-accion:active{
  position: relative;
	top: 2px;
}

/* Redes Sociales */

#redesSociales{
  margin: 50px 0;
  display: grid;
  grid-template-columns: 80px 80px 80px 80px;
  column-gap: 20px;
  justify-content: space-around;
}
.logo-redes img{
  width: 80px;
}
.logo-redes a{
  text-align: center;
  font-size: 1em;
}

/* Info Adicional */

#infoAdicional{
  display: inline-flex;
  height: 500px;
  width: 100%;
  justify-content: space-evenly;
  column-gap: 40px;
  background-color: #e8b746;
}
.info-franquicia, .info-promos{
  align-self: center;
  justify-self: center;
  border: 3px #49a12b solid ;
  border-radius: 10px; 
}
.info-franquicia{
  width: 40%;
  height: 400px;
  margin-left: 40px;
  background-image: url(../images/background-hamburgueseria.jpg);
  background-size: cover;
  color: #49a12b;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.info-franquicia p, .info-franquicia h2{
  margin-top: 60px;
  box-shadow: 0px 0px 55px 2px rgba(212, 171, 171, 0.384);
  background-color: rgba(212, 171, 171, 0.184);
}
.info-promos{
  background-image: url(../images/background-promos.jpg);
  background-size: cover;
  position: relative;
  width: 60%;
  height: 400px;
  margin-right: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.info-promos::before{
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .5;
  border-radius: 8px;
  z-index: 1;
}
.info-promos *{
  z-index: 999;
}
.info-promos h2, .info-promos p{
  margin-top: 60px;
  color: rgb(228, 228, 228);
}


/* Menú */

#menuLocoburger{
  display: grid;
  background-color: #e8b746;
  max-width: 960px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: 300px .7fr 1fr 1fr;
  grid-template-rows: repeat(4, 400px);
  gap: 20px 20px;
  grid-template-areas:
    "burger burger cerveza cerveza"
    "veggie veggie veggie veggie"
    "papas hotdog hotdog hotdog"
    "ultra ultra ultra ultra";
  justify-content: center;
  align-items: stretch;
}
.menu-burger,.menu-cerveza, .menu-hotdog, .menu-papas, .menu-ultra, .menu-veggie{
  border: 3px solid #347a1c;
  border-radius: 12px;
}
.menu-burger{
  grid-area: burger;
  background-image: url(../images/menu-burger.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.menu-cerveza{
  grid-area: cerveza;
  background-image: url(../images/menu-cerveza.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.menu-veggie{
  grid-area: veggie;
  background-image: url(../images/menu-veggie.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.menu-hotdog{
  grid-area: hotdog;
  background-image: url(../images/menu-hotdog.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.menu-papas{
  grid-area: papas;
  background-image: url(../images/menu-papas.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.menu-ultra{
  grid-area: ultra;
  background-image: url(../images/menu-ultra.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* Locales */

#locales{
  background-color: #e8b746;
  padding: 30px;
  text-align: center;
}
#locales h2{
  text-align: center;
}
#locales main{
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}
.local-container{
  border: #49a12b solid 3px;
  border-radius: 12px;
  margin-top: 20px;
  padding: 20px 0;
}
#locales img{
  width: 80%;
  height: auto;
}



/* Footer */

footer{
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #fff;
  font-size: .8em;
}
footer div{
  padding: 0 10px;
}