@import "../variables";

/* Franquicias */

#franquiciasMain {
  background-image: url(../images/background-franquicia.jpg);
  background-size: cover;
  background-position: bottom;
  height: calc(100vh - 100px);
  color: #fff;
  padding-top: 60px;
  text-align: center;
  .container h1 {
    text-align: center;
  }
  .container p {
    margin: 60px auto 0;
    width: 500px;
    font-size: 1.1rem;
  }
}
.fran-form {
  width: 700px;
  margin: 0 auto;
}
.fran-section {
  margin-left: auto;
  margin-right: auto;
  padding: 40px 200px;
  background: rgb(254, 170, 56);
  background: linear-gradient(
    180deg,
    rgb(255, 177, 69) 0%,
    rgba(232, 183, 70, 1) 35%,
    rgba(232, 183, 70, 1) 100%
  );

  text-align: center;
}
.fran-section p {
  margin-top: 20px;
}

.fran-form .row {
  margin: 10px;
}
