@import "../variables";

/* Locales */

#locales {
  background-color: $mostaza;
  padding: 30px;
  text-align: center;
}
#locales h2 {
  text-align: center;
  margin-bottom: 2rem;
}
#locales .locales-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 3rem;
}
.card-location {
  width: 25rem;
  border: $green solid 3px;
  border-radius: 12px;
  background-color: transparent;
}
.local-container img {
  width: 70% !important;
  height: auto;
  margin: 0 auto;
}
.modal-map {
  max-width: 700px !important;
}
.modal-map iframe {
  width: 100%;
}
.modal-info {
  font-size: 0.8em;
  text-align: start;
  padding: 0 30px;
  .info-strong {
    font-weight: bold;
  }
}
.modal-info img {
  width: 15px;
  margin-right: 5px;
}
