@import "../variables";

/* Promos */

#promos {
  background-image: url(../images/bg-promos.jpg);
  background-size: cover;
  height: calc(100vh - 100px);
}
#promos .container {
  height: 100%;
  display: flex;
  justify-content: space-around;
  .promo-item-1 {
    align-self: center;
  }
  .promo-item-2 {
    align-self: center;
    text-align: center;
    .img-promos {
      width: 70%;
      height: auto;
    }
  }
}
.promo-item-1 p,
.promo-item-1 h1 {
  font-weight: bold;
}

#boxPromos {
  /* height: 100vh; */
  width: 100%;
  padding: 30px;
  background-color: $mostaza;
  .row {
    row-gap: 20px;
  }

}
.card-title {
  font-weight: bold;
}